In [1]:
import pandas as pd

## 예제 5-11  데이터를 병합 처리하기

In [2]:
data = {

"student_id": [11111, 11112, 11113, 11114],

"Math": [60, 80, 90, 75],

"English": [85, 90, 65, 70],

"Class": [1, 2, 3, 4]

}



df = pd.DataFrame(data)

df

   student_id  Math  English  Class
0       11111    60       85      1
1       11112    80       90      2
2       11113    90       65      3
3       11114    75       70      4

In [3]:
# id_vars: 고정열, var_name: 병합할 열 이름, value_name: 병합할 열의 값 이름, value_vars: 병합할 Target 열
df2 = df.melt(id_vars = "student_id", var_name = "Subject", value_name = "Score", value_vars=['Math', 'English'])
df2

   student_id  Subject  Score
0       11111     Math     60
1       11112     Math     80
2       11113     Math     90
3       11114     Math     75
4       11111  English     85
5       11112  English     90
6       11113  English     65
7       11114  English     70

## 예제 5-12 열에 대한 추가

In [4]:
import numpy as np

In [5]:
df = pd.DataFrame({'A': range(1, 11), 'B': np.random.randn(10)})

In [6]:
df

    A         B
0   1 -0.845705
1   2 -0.921687
2   3 -0.077572
3   4  0.578083
4   5 -0.089900
5   6 -0.845196
6   7 -1.940287
7   8 -1.766749
8   9  0.979622
9  10  1.541113

In [7]:
df_1 = df.copy()

In [8]:
# 기존의 열이 없으면 지정한 이름으로 갱신
# assign을 통해 새로운 열을 생성 할 수 있다.
df_1.assign(ln_A = lambda x: np.log(x.A))

    A         B      ln_A
0   1 -0.845705  0.000000
1   2 -0.921687  0.693147
2   3 -0.077572  1.098612
3   4  0.578083  1.386294
4   5 -0.089900  1.609438
5   6 -0.845196  1.791759
6   7 -1.940287  1.945910
7   8 -1.766749  2.079442
8   9  0.979622  2.197225
9  10  1.541113  2.302585

In [9]:
df_2 = df.copy()

In [10]:
df_2['ln_A'] = np.log(df_2['A'])

In [11]:
df_2

    A         B      ln_A
0   1 -0.845705  0.000000
1   2 -0.921687  0.693147
2   3 -0.077572  1.098612
3   4  0.578083  1.386294
4   5 -0.089900  1.609438
5   6 -0.845196  1.791759
6   7 -1.940287  1.945910
7   8 -1.766749  2.079442
8   9  0.979622  2.197225
9  10  1.541113  2.302585

## 예제 5-13 열에 대한 추가 활용

In [27]:
movie = pd.read_csv('../data/korea_movie_list.csv',encoding='cp949')

In [29]:
movie.head(30)

,movie_code,title,title_Eng,show_time,produce_year,open_date,produce_state,type,nation,genre,director,actor,show_type,watch_grade
0,20185801,할로우 차일드,The Hollow Child,88.0,2017,20180802,개봉예정,장편,캐나다,공포(호러)/판타지,제레미 루터,NaN,NaN,15세이상관람가
1,20187649,죽음의 리무진,Glass Coffin,75.0,2016,20180816,개봉예정,장편,스페인,스릴러/공포(호러),하리츠 쥬빌라가,파울라 본템피,NaN,NaN
2,20187641,극장판 도라에몽: 진구의 보물섬,NaN,107.0,2018,20180815,개봉예정,장편,일본,애니메이션/SF/어드벤처,이마이 카즈아키,윤아영/김정아/조현정/최낙윤/이현주/임은정/김정은/이지현/이경태/강은애/박성영/이다...,"2D,디지털더빙",전체관람가
3,20187427,명탐정 코난 : 제로의 집행인,Detective Conan: Zero the Enforcer,110.0,2018,20180808,개봉예정,장편,일본,애니메이션,타치카와 유즈루,타카야마 미나미/야마자키 와카나/코야마 리키야/푸루야 토루,"2D,디지털/2D,디지털더빙",12세이상관람가
4,20173732,살아남은 아이,Last Child,123.0,2017,20180830,개봉예정,장편,한국,드라마,신동석,최무성/김여진/성유빈,"2D,디지털",NaN
5,20188004,인공지능 섹스돌,NaN,79.0,2018,20180731,개봉,장편,한국,멜로/로맨스,김종민,NaN,"2D,디지털",청소년관람불가
6,20186585,엄마의 유혹,NaN,80.0,2018,20180731,개봉,장편,한국,멜로/로맨스,유해종,이은미/박주빈,"2D,디지털",청소년관람불가
7,20188021,섹스-이웃집 여자-감독판,NaN,75.0,2018,20180731,개봉,장편,한국,멜로/로맨스,이전,NaN,"2D,디지털",청소년관람불가
8,20188823,부드러운 여주인:단단한 물건을 원해,Okamisan 01,64.0,2017,20180731,개봉,장편,일본,멜로/로맨스/드라마,우미야마 테루카즈,NaN,"2D,디지털",청소년관람불가
9,20188822,동창회:그녀와 하던 날,Rape Gurui,54.0,2016,20180731,개봉,장편,일본,멜로/로맨스/드라마,Z.아라이,오츠키 히비키,"2D,디지털",청소년관람불가
10,20187882,금지된 섹스,NaN,86.0,2018,20180731,개봉,장편,한국,멜로/로맨스,김종민,NaN,"2D,디지털",청소년관람불가
11,20181942,맘마미아!2,MAMMA MIA! HERE WE GO AGAIN,113.0,2018,20180808,개봉예정,장편,미국,뮤지컬,올 파커,아만다 사이프리드/릴리 제임스/메릴 스트립/피어스 브로스넌/제레미 어바인/콜린 퍼스...,"2D,디지털",12세이상관람가
12,20181822,산책하는 침략자,Before We Vanish,130.0,2017,20180816,개봉예정,장편,일본,드라마/SF,구로사와 기요시,나가사와 마사미/마츠다 류헤이,"2D,디지털",15세이상관람가
13,20187309,호스틸,Hostile,83.0,2017,20180823,개봉예정,장편,프랑스,미스터리/스릴러,NaN,NaN,"2D,디지털",NaN
14,20179044,더 스퀘어,The Square,151.0,2017,20180802,개봉예정,장편,스웨덴/독일/프랑스/덴마크,코미디,루벤 외스틀룬드,클라에스 방/엘리자베스 모스/도미닉 웨스트,"2D,디지털",15세이상관람가
15,20187647,나를 차버린 스파이,The Spy Who Dumped Me,NaN,2017,20180822,개봉예정,장편,미국,액션/코미디,수잔나 포겔,밀라 쿠니스/케이트 맥키넌,"2D,디지털",NaN
16,20187470,주피터스 문,Jupiter's Moon,128.0,2017,20180802,개봉예정,장편,헝가리,SF/판타지,코르넬 문드럭초,모니카 발사이/메랍 니니트쩨/기오르기 세르하미,"2D,디지털",15세이상관람가
17,20184083,휘트니,Whitney,119.0,2018,20180823,개봉예정,장편,미국,드라마/다큐멘터리,케빈 맥도널드,휘트니 휴스턴/케빈 코스트너,"2D,디지털",15세이상관람가
18,20186463,원초적 비디오 테이프,Amateur,93.0,2016,20180718,개봉,장편,아르헨티나,스릴러,세바스티안 페릴로,NaN,"2D,디지털",청소년관람불가
19,20170670,목격자,The Witness,111.0,2017,20180815,개봉예정,장편,한국,스릴러,조규장,이성민/김상호/진경/곽시양,"2D,디지털",15세이상관람가
20,20179101,공작,The Spy Gone North,137.0,2017,20180808,개봉예정,장편,한국,드라마,윤종빈,황정민/이성민/조진웅/주지훈,"2D,디지털",12세이상관람가
21,20153446,너의 결혼식,On Your Wedding Day,110.0,2017,20180822,개봉예정,장편,한국,멜로/로맨스,이석근,박보영/김영광/강기영/장성범/고규필/서은수,"2D,디지털",12세이상관람가
22,20187861,몬스터 헌트2: 요괴사냥단,Monster Hunt 2,110.0,2017,20180813,개봉예정,장편,홍콩,판타지/코미디/어드벤처/액션/SF,라맨 허,양조위/백백하/정백연,"2D,디지털",12세이상관람가
23,20184802,몬스터 호텔 3,Hotel Transylvania 3: A Monster Vacation,97.0,2018,20180808,개봉예정,장편,미국,애니메이션/코미디/가족/판타지,젠디 타타코브스키,아담 샌들러/셀레나 고메즈/앤디 샘버그/스티브 부세미/케빈 제임스/캐서린 한,"2D,디지털/2D,디지털더빙",전체관람가
24,20183264,더 시크릿 하우스,Marrowbone,110.0,2017,20180808,개봉예정,장편,스페인,드라마/공포(호러)/스릴러,세르지오 G. 산체즈,조지 맥케이/안야 테일러 조이,"2D,디지털",15세이상관람가
25,20183235,훔쳐보는 쉐어 하우스,Girls Share A Flat 4,60.0,2017,20180730,개봉,장편,일본,성인물(에로),오우치 아이리,NaN,"2D,디지털",청소년관람불가
26,20188328,해외유학녀의 마사지,Populer beauty massage into a study abroad fru...,63.0,2017,20180730,개봉,장편,일본,성인물(에로),드래곤 니시카와,NaN,"2D,디지털",청소년관람불가
27,20188327,폭주미망인-다빌려드립니다,Widow boarding house? I also lend a valley,61.0,2017,20180730,개봉,장편,일본,성인물(에로),시즈미 다이케이,NaN,"2D,디지털",청소년관람불가
28,20182339,정사 : 친구의 엄마 2 무삭제,NaN,81.0,2018,20180730,개봉,장편,한국,멜로/로맨스,김부곤,NaN,"2D,디지털",청소년관람불가
29,20188325,인형같은 애인클럽,Makeover dolls Fingertips that love limbs,63.0,2017,20180730,개봉,장편,일본,성인물(에로),야마자키 쿠니노리,NaN,"2D,디지털",청소년관람불가

In [13]:
movie.head(2)

,movie_code,title,title_Eng,show_time,produce_year,open_date,produce_state,type,nation,genre,director,actor,show_type,watch_grade
0,20185801,할로우 차일드,The Hollow Child,88.0,2017,20180802,개봉예정,장편,캐나다,공포(호러)/판타지,제레미 루터,NaN,NaN,15세이상관람가
1,20187649,죽음의 리무진,Glass Coffin,75.0,2016,20180816,개봉예정,장편,스페인,스릴러/공포(호러),하리츠 쥬빌라가,파울라 본템피,NaN,NaN

In [24]:
movie_ = pd.concat([movie.filter(like='prod'),
                    movie.filter(like='title')],
                   axis=1)

In [25]:
movie_.head()

,produce_year,produce_state,title,title_Eng
0,2017,개봉예정,할로우 차일드,The Hollow Child
1,2016,개봉예정,죽음의 리무진,Glass Coffin
2,2018,개봉예정,극장판 도라에몽: 진구의 보물섬,NaN
3,2018,개봉예정,명탐정 코난 : 제로의 집행인,Detective Conan: Zero the Enforcer
4,2017,개봉예정,살아남은 아이,Last Child

In [16]:
movie_.assign(show_time= movie['show_time']).head()

,produce_year,produce_state,title,title_Eng,show_time
0,2017,개봉예정,할로우 차일드,The Hollow Child,88.0
1,2016,개봉예정,죽음의 리무진,Glass Coffin,75.0
2,2018,개봉예정,극장판 도라에몽: 진구의 보물섬,NaN,107.0
3,2018,개봉예정,명탐정 코난 : 제로의 집행인,Detective Conan: Zero the Enforcer,110.0
4,2017,개봉예정,살아남은 아이,Last Child,123.0