In [1]:
import pandas as pd

In [2]:
housing = pd.read_csv('housing.csv')

In [3]:
housing

,Unnamed: 0,price,lotsize,bedrooms,bathrms,stories,driveway,recroom,fullbase,gashw,airco,garagepl,prefarea
0,1,42000.0,5850,3,1,2,yes,no,yes,no,no,1,no
1,2,38500.0,4000,2,1,1,yes,no,no,no,no,0,no
2,3,49500.0,3060,3,1,1,yes,no,no,no,no,0,no
3,4,60500.0,6650,3,1,2,yes,yes,no,no,no,0,no
4,5,61000.0,6360,2,1,1,yes,no,no,no,no,0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...
508,509,87000.0,8372,3,1,3,yes,no,no,no,yes,2,no
509,510,64000.0,4040,3,1,2,yes,no,no,no,no,1,no
510,511,70000.0,4646,3,1,2,yes,yes,yes,no,no,2,no
511,512,47500.0,4775,4,1,2,yes,no,no,no,no,0,no
512,513,62600.0,4950,4,1,2,yes,no,no,no,yes,0,no

In [4]:
housing['price'].unique()

array([ 42000.,  38500.,  49500.,  60500.,  61000.,  66000.,  69000.,
        83800.,  88500.,  90000.,  30500.,  27000.,  36000.,  37000.,
        37900.,  40500.,  40750.,  45000.,  48500.,  65900.,  38000.,
        42300.,  43500.,  44000.,  44500.,  44900.,  48000.,  49000.,
        51500.,  61700.,  67000.,  82000.,  54500.,  66500.,  70000.,
        92000.,  41000.,  43000.,  54800.,  55000.,  57000.,  68000.,
        95000.,  25000.,  25245.,  56000.,  35500.,  30000.,  52000.,
        54000.,  60000.,  47000.,  51000.,  32500.,  34000.,  35000.,
        63900.,  50000.,  55500.,  78000.,  58000., 163000., 128000.,
       123500.,  39000.,  53900.,  59900.,  79000., 125000., 132000.,
        58500.,  73000.,  63500.,  46500.,  75000.,  85000.,  93000.,
        94500., 106500., 116000.,  61500.,  80000.,  59500., 117000.,
       122500., 127000.,  49900.,  50500.,  65000.,  46000.,  26500.,
        40000.,  57250.,  62000.,  63000., 130000.,  52900.,  73500.,
        52500.,  32000.,  57500.,  69900.,  74500.,  28000.,  44700.,
        33000.,  34400.,  53000.,  69500.,  72000.,  92500.,  47900.,
       138300.,  64500.,  70100.,  78500.,  87250.,  70800.,  87000.,
        42500.,  26000.,  37200.,  71000.,  75500.,  33500.,  46200.,
        48900.,  59000.,  64000.,  64900.,  65500.,  47500.,  68100.,
        76900.,  83000.,  83900.,  98000.,  98500.,  99000., 101000.,
       110000., 115442., 120000., 124000., 175000., 106000., 155000.,
       141000.,  62500.,  88000.,  68500.,  86000.,  86900.,  97000.,
       107000., 145000.,  84900., 114000., 100500., 122000., 126500.,
       133000., 140000., 190000.,  84000., 103500., 112500.,  74700.,
        78900.,  96000.,  77000.,  80750.,  82900.,  76000.,  77500.,
        87500.,  89000.,  89900., 112000.,  31900., 100000.,  91700.,
       174500.,  94700.,  61100.,  62900.,  53500.,  58550.,  51900.,
        79500.,  72500., 104900., 114900.,  74900., 120900.,  44555.,
        47600.,  89500.,  95500., 118500.,  42900.,  44100.,  67900.,
        70500.,  71500.,  71900.,  62600.])